<!--<html>-->

<!--<body>-->
<!--<h1>Welcome admin</h1>-->


<!--<button type="button" (click)="getAllUsers()"> All Users</button>-->
<!--<button *ngIf="!isLoggedIn" type="button" (click)="login()">Log in</button>-->
<!--<button *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>-->

<!--<table mat-table class="mat-elevation-z8">-->
<!--  <ng-container matColumnDef="fistname">-->
<!--    <th mat-header-cell *matHeaderCellDef> fistname </th>-->
<!--    &lt;!&ndash;    <td mat-cell *matCellDef= userProfile> {{userProfile.firstName}} </td>&ndash;&gt;-->
<!--  </ng-container>-->


<!--  <ng-container matColumnDef="lastname">-->
<!--    <th mat-header-cell *matHeaderCellDef> lastname </th>-->
<!--    &lt;!&ndash;    <td mat-cell *matCellDef= userProfile> {{userProfile.lastName}} </td>&ndash;&gt;-->
<!--  </ng-container>-->


<!--  <ng-container matColumnDef="email">-->
<!--    <th mat-header-cell *matHeaderCellDef> email </th>-->
<!--    &lt;!&ndash;    <td mat-cell *matCellDef=userProfile> {{userProfile.email}} </td>&ndash;&gt;-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="username">-->
<!--    <th mat-header-cell *matHeaderCellDef> username </th>-->
<!--    &lt;!&ndash;   <td mat-cell *matCellDef=userProfile> {{userProfile.username}} </td>&ndash;&gt;&ndash;&gt;-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->

<html>

<h1>Benvenuto nella login</h1>


<button type="button" (click)="logout()">Logout</button>



</html>
